
@property --rotate {
  syntax: "<angle>";
  initial-value: 50deg;
  inherits: false;
}
:root {
  --Box-height: 65vh;
  --Box-width: calc(var(--Box-height) / 1.5);
}

body {
  background-color: #191c29;
  min-height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
 
}

.Box {
  background: #00000000;
  width: var(--Box-width);
  height: var(--Box-height);
  padding: 3px;
  position: relative;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  
  display: flex;
  font-size: 1.5em;
  color: Box(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}
.Box:hover {
  color: Box(88 199 250 / 100%);
  transition: color 1s;
}
.Box:hover:before, .Box:hover:after {
  animation: none;
  opacity: 0;
}
.Box::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 20px;
  background-image: linear-gradient(
    var(--rotate)
    , #5d03d1, #dd1ed4 43%, #830167);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}
.Box::after {
  position: absolute;
  content: "";
  top: calc(var(--Box-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--Box-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;  
  margin-bottom: 20px;  
}

  
  .fakeScreen {
  background-color: #15151541;
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  }
  
  p {
  left: 40%;
  text-align: left;
  font-size: 0,1em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  }
  
  span {
  color: #fff;
  font-weight: bold;
  }
  
  .line1 {
  color: #af15c4;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
  }
  
  .cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
  }
  
  .line2 {
  color: #cbdb39;
  -webkit-animation: type .5s 4.25s steps(20, end) forwards;
  -moz-animation: type .5s 4.25s steps(20, end) forwards;
  -o-animation: type .5s 4.25s steps(20, end) forwards;
  animation: type .5s 4.25s steps(20, end) forwards;
  }
  
  .cursor2 {
  -webkit-animation: blink 1s 5.25s 2 forwards;
  -moz-animation: blink 1s 5.25s 2 forwards;
  -o-animation: blink 1s 5.25s 2 forwards;
  animation: blink 1s 5.25s 2 forwards;
  }
  
  .line3 {
  color: #64f789;
  -webkit-animation: type .5s 7.5s steps(20, end) forwards;
  -moz-animation: type .5s 7.5s steps(20, end) forwards;
  -o-animation: type .5s 7.5s steps(20, end) forwards;
  animation: type .5s 7.5s steps(20, end) forwards;
  }
  
  .cursor3 {
  -webkit-animation: blink 1s 8.5s 2 forwards;
  -moz-animation: blink 1s 8.5s 2 forwards;
  -o-animation: blink 1s 8.5s 2 forwards;
  animation: blink 1s 8.5s 2 forwards;
  }
  
  .line4 {
  color: #fff;
  -webkit-animation: type .5s 10.75s steps(20, end) forwards;
  -moz-animation: type .5s 10.75s steps(20, end) forwards;
  -o-animation: type .5s 10.75s steps(20, end) forwards;
  animation: type .5s 10.75s steps(20, end) forwards;
  }
  
  .cursor4 {
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
  }
  
  @-webkit-keyframes blink {
  0% {
  opacity: 0;
  }
  40% {
  opacity: 0;
  }
  50% {
  opacity: 1;
  }
  90% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
  }
  @-moz-keyframes blink {
  0% {
  opacity: 0;
  }
  40% {
  opacity: 0;
  }
  50% {
  opacity: 1;
  }
  90% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
  }
  
  @-o-keyframes blink {
  0% {
  opacity: 0;
  }
  40% {
  opacity: 0;
  }
  50% {
  opacity: 1;
  }
  90% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
  }
  
  @keyframes blink {
  0% {
  opacity: 0;
  }
  40% {
  opacity: 0;
  }
  50% {
  opacity: 1;
  }
  90% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
  }
  
  @-webkit-keyframes type {
  to {
  width: 17em;
  }
  }
  
  @-moz-keyframes type {
  to {
  width: 17em;
  }
  }
  
  @-o-keyframes type {
  to {
  width: 17em;
  }
  }
  
  @keyframes type {
  to {
  width: 17em;
  }
  }
